.blog-filter-wrapper.blog-post-container, .featured-blog-post.blog-post-item {
  display: none !important;
}


.meta-inserted {
    margin-bottom: 20px;
}

.meta-inserted p {
    color: #fff;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    justify-content: center;
}

.meta-inserted .date-stamp {
  
}

/* Creating the separator */
.meta-inserted .date-stamp::after {
    content: "|";
    margin: 0 12px;
    color: #cbd5e0;
    font-weight: 300;
}

.meta-inserted .author-name {
    text-transform: none;
    letter-spacing: 0;
}
