.blog-filter-wrapper.blog-post-container,
.featured-blog-post.blog-post-item {
  display: none !important;
}

.meta-inserted {
  margin-bottom: 20px;
}

.meta-inserted p {
  color: #fff;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  justify-content: center;
}

.meta-inserted .date-stamp {
}

/* Creating the separator */
.meta-inserted .date-stamp::after {
  content: "|";
  margin: 0 12px;
  color: #cbd5e0;
  font-weight: 300;
}

.meta-inserted .author-name {
  text-transform: none;
  letter-spacing: 0;
}

/* FAQ's */
.accordion__question {
  padding: 8px 10px !important;
  background: #f6f2ee;
  border-radius: 10px;
}
.accordion__question::after {
  top: 8px !important;
  right: 5px !important;
}
.accordion__question a {
  line-height: 100% !important;
}
.accordion__question h3 {
  line-height: 100% !important;
}
.accordion__question {
  padding: 15px 15px 10px !important;
  border-radius: 10px !important;
}
.accordion__question::after {
  top: 11px !important;
}
.accordion__answer {
  padding: 0;
}
.accordion__answer div {
  padding: 10px;
}
.accordion__answer {
  background: whitesmoke;
}
.accordion__item {
  margin: 10px !important;
}
.accordion__answer {
  margin-top: 5px;
}
/* End FAQ's */

/* Remove meta data readtime and published date on each component and remove the share */

/* .blog-page-date-published {
  display: none;
}
.read-time {
  display: none;
}
.blog-share-row {
  display: none;
} */
